#everything{
  position: absolute;
  top: 1.5%;
  bottom: 1.5%;
  left: 1%;
  right: 1%;
  background-color: #440000;
}

#image{
  position: absolute;
  left: 60%;
  top: 0%;
  bottom: 20%;
  right: 0%;
  background-color: #888800;
}

#tables{
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0%;
  right: 40%;
  background-color: #00AA00;
}

#t1{
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 65%;
  right: 0%;
  background-color: #0000AA;
}

#t2{
  position: absolute;
  left: 0%;
  top: 35%;
  bottom: 30%;
  right: 0%;
  background-color: #EE0000;
}

#t3{
  position: absolute;
  left: 0%;
  top: 70%;
  bottom: 0%;
  right: 0%;
  background-color: #00FF00;
}

.ltablet{
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0%;
  right: 70%;
}

.rtablet{
  position: absolute;
  left: 30%;
  top: 0%;
  bottom: 0%;
  right: 0%;
}
